---
	import { css, cx } from "@styled-system/css";
	import { iconButton } from "@styled-system/recipes";

	interface Props {
		label: string;
		maskImage: string;
		size?: "sm" | "md" | "lg";
		variant?: "ghost" | "outlined";
		rounded?: boolean;
	}

	const {
		label,
		maskImage,
		size = "md",
		variant = "ghost",
		rounded = false,
		...buttonProps
	} = Astro.props;

	const { icon, root } = iconButton({ size, variant, rounded });
---
<button type="button" aria-label={label} class={root} {...buttonProps}>
	<i class={cx(icon, css({ maskImage: maskImage }))}></i>
</button>
