---
import type { HTMLAttributes } from 'astro/types';

import { css } from '@styled-system/css';

import { cn } from '@lib/style/cn.lib';

interface Props extends HTMLAttributes<'p'> {}

const props = Astro.props;
---

<p
	class={cn(
		css({
			my: '1.25em',
			lineHeight: 'content',
			fontSize: 'lg',
			color: 'fg',
			'&[data-drop-cap]': {
				_firstLetter: {
					float: 'left',
					rounded: 'sm',
					mt: '0.1em',
					mr: '0.2em',
					p: '0.1em 0.15em',
					fontSize: '2.5em',
					fontFamily: 'serif',
					lineHeight: 'calc({lineHeights.content}/2)',
					fontWeight: 'bold',
					bg: 'accent.inverted',
					color: 'fg.inverted',
					shadow: '0.25rem 0.25rem {colors.accent}',
				},
			},
		}),
	)}
	{...props}
>
	<slot />
</p>
