---
	import { BackToTopButton } from '@/ui/back-to-top-button';
	import '@/style/panda.css';
	import BaseHead from '@/ui/base-head.astro';

	interface Props {
		title: string;
		description?: string;
	}

	const { title, description = '' } = Astro.props;
---
<!doctype html>
<html lang="en" class="light" data-theme="light">
	<BaseHead title={title} description={description} />
	<body style={{ height: '2000px' }}>
		<header>
			<h1>My Site</h1>
		</header>
		<slot />
		<BackToTopButton />
		<footer>
			<p>© 2024 My Site. All rights reserved.</p>
		</footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
