---
import '@style/panda.css';
import { css } from '@styled-system/css';
import { BackToTopButton } from '@ui/back-to-top-button';
---

<!doctype html>
<html lang='en' class='light' data-theme='light'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body style={{ height: '2000px' }}>
		<header>
			<h1>My Site</h1>
		</header>
		<main style={{ height: '4000px' }}>
			<slot />
		</main>
		<p class={css({ lineClamp: 4 })}>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus odio
			dignissimos voluptatibus praesentium ab non placeat doloremque iusto!
			Nesciunt, voluptatem. Provident sequi aliquid rem natus reprehenderit
			voluptate qui deleniti sit! Quibusdam cumque hic dolor asperiores qui ad
			exercitationem iste voluptatum earum sint quas, possimus unde ea mollitia
			officiis. Repudiandae totam omnis distinctio ipsam delectus odio, id
			corrupti rem unde laboriosam tenetur, obcaecati non exercitationem
			voluptas vitae cumque facilis. Delectus pariatur quidem sint veniam
			doloribus quam totam laboriosam expedita officiis eaque? Praesentium,
			consectetur asperiores nostrum in nemo laboriosam minima repudiandae,
			suscipit placeat harum magnam labore quibusdam quo earum vitae vel. Saepe
			commodi dolore pariatur corrupti voluptatum dolores minus ducimus
			dignissimos, excepturi ut assumenda sunt. Doloremque dolores commodi
			exercitationem blanditiis beatae fugiat veritatis vero unde esse
			dignissimos cumque dolorum laudantium iure accusantium neque id deleniti
			adipisci ducimus, repellat, eius, voluptates sed at nam quia! Voluptate,
			quis. Eos, rem, odit itaque alias similique impedit saepe quas ipsam
			aperiam, aut doloremque fuga animi. Corrupti exercitationem doloribus modi
			numquam voluptatum culpa, quo nihil, officia ducimus ipsam recusandae
			expedita. Adipisci doloremque quod modi asperiores dolorum debitis quo
			doloribus totam corporis commodi, aliquid cupiditate, sequi velit
			voluptates nulla enim delectus repellat distinctio at minus nobis
			sapiente! Quasi explicabo, dignissimos et fugit, incidunt eaque aliquam
			quibusdam nemo optio excepturi facere culpa natus? Necessitatibus commodi,
			fugiat perspiciatis sapiente labore ut quo officiis quos suscipit
			consequuntur quidem exercitationem dolores itaque eaque. Excepturi, dolor
			aspernatur? Numquam dolorum enim repudiandae natus voluptas in quidem
			labore molestiae eum earum delectus incidunt itaque laborum, laboriosam
			dolore accusantium nihil magni ex non neque suscipit? Reprehenderit
			consequuntur atque obcaecati dolorem possimus eaque ea numquam ut ipsum!
			Culpa ea suscipit ab et dolores neque expedita hic eum officia facilis
			illum laboriosam iusto ad, deserunt quasi libero iste, voluptate quisquam
			praesentium! Provident ex ab vel aliquam atque distinctio eos sint iusto
			est doloremque, nihil eum consequatur reiciendis, laudantium labore maxime
			voluptatum voluptates! Voluptatum inventore nam dolorum laborum, harum
			aliquam molestiae illo tenetur, vitae, possimus exercitationem quod odio
			deserunt explicabo eveniet. Fugit, non quasi doloribus totam ab aut odio
			itaque, laborum neque vitae quis atque id eius aliquam nulla fuga sapiente
			deleniti ducimus odit reprehenderit delectus consequatur. Expedita soluta
			animi, unde quibusdam cumque dolores itaque ipsum beatae deserunt eveniet
			id fuga quod, harum est iure, quos mollitia ab. Ex tempora vero minus
			quidem quasi nisi ad cupiditate quas aperiam repudiandae ullam minima ab
			excepturi assumenda accusantium, sunt, vitae suscipit provident dolores!
			Cumque et error maxime consequuntur alias ducimus placeat beatae! Fuga id,
			blanditiis minus, vitae libero nemo esse consequatur sapiente sed
			provident nisi eius natus, officiis alias tenetur ad repellat non ex
			pariatur molestiae rem nulla explicabo? Repudiandae iste consequuntur ipsa
			facilis quia asperiores voluptate itaque error at sequi amet repellat
			culpa cum excepturi veniam, vero veritatis ex praesentium nam quos porro
			obcaecati unde iure maiores? Esse tempore repellat sed ipsum. Deserunt
			quae sequi quia atque, itaque architecto ipsam molestiae, inventore, omnis
			quam ullam. Asperiores perspiciatis, tenetur, repudiandae aperiam eius
			dolorum inventore adipisci distinctio vel doloremque laborum quod? Id
			totam fugit aspernatur error nam tempora! Repellat enim labore, tempora,
			consequuntur rerum libero voluptates quidem cum quos tenetur et maxime.
			Dolorum officia cum tempora asperiores, dolor excepturi animi delectus in
			porro numquam aperiam quo accusamus deleniti maxime nesciunt, voluptatibus
			dolore! Assumenda doloremque eum excepturi voluptatum fuga cupiditate.
			Tempora quibusdam quasi fugit, dignissimos sunt facilis quod repellendus.
			Ipsam commodi temporibus voluptatem doloremque sequi culpa fugit doloribus
			quasi totam iusto odit quo molestiae vel minus, dolorem ex? Ab repellendus
			odit error libero voluptate rerum maiores asperiores fugit accusantium
			fuga velit culpa quas aut, sequi aperiam cupiditate porro, ad numquam
			reprehenderit dolore nobis sunt dolorem explicabo. Eligendi numquam velit
			ducimus exercitationem iste, unde repellat tempore iure nobis ad esse
			reprehenderit, dolores assumenda excepturi. Maiores temporibus commodi
			iusto, pariatur repellat earum esse inventore ea perspiciatis, aperiam
			unde doloribus quam excepturi. Tempora, non fugit! Id eum, repellat
			veritatis nostrum ut totam illum architecto temporibus eveniet quasi iste
			dignissimos sed, vel necessitatibus laborum nisi laboriosam at quia
			mollitia magnam. Ipsam numquam, repellendus, tempore, ad dicta ab
			laudantium molestiae velit fugiat quibusdam pariatur unde hic. At eaque
			corporis laudantium voluptate recusandae commodi laborum quos quia ipsam,
			iure eum minus pariatur ad distinctio dolore temporibus omnis sapiente
			expedita eligendi id porro vel? Delectus dolores ab eius provident magni?
			Quos explicabo nesciunt facere incidunt quod fugit ad, accusamus
			obcaecati! Delectus eveniet quae nisi doloremque inventore possimus
			quisquam dolores dicta soluta nostrum in debitis facere voluptatibus
			eligendi voluptate repudiandae molestias consequatur, alias repellat enim
			eaque, assumenda natus explicabo. Inventore, aperiam? Quia odio ullam
			neque? Nisi corporis quas nulla explicabo placeat. Ratione a ullam alias
			blanditiis eum, consequuntur fuga velit nemo, quaerat iste rem magni quasi
			quas necessitatibus. Fugit, nisi consectetur molestias repellendus quas
			atque, tempore iste provident maxime neque nihil. Nihil libero perferendis
			distinctio necessitatibus impedit adipisci quo laudantium accusantium
			perspiciatis aliquam? Corrupti sapiente dicta totam magnam voluptas, quia
			temporibus nobis, cum tempora tenetur laborum commodi animi? Debitis eius
			unde voluptate consectetur, autem voluptatem. Quo, saepe necessitatibus
			quas deserunt nostrum at odio ullam amet illum porro impedit quisquam
			perferendis doloribus maxime iste unde nobis officiis fuga id dolore cum
			distinctio nam laborum. Fugiat, atque quos neque iusto aliquid ab aliquam
			necessitatibus, omnis aut praesentium aspernatur nisi. Beatae maxime,
			neque sint eum inventore soluta at consequuntur fuga sunt! Minima nulla,
			sapiente ut atque rem fugiat sequi. Aliquam, enim laudantium. Quasi ea
			omnis odio pariatur ipsa alias blanditiis doloremque neque. Impedit harum
			labore inventore temporibus alias ad quidem voluptate unde nemo voluptates
			minima iste eligendi, sunt saepe cupiditate ipsam repellat dolorum amet
			aliquid! Enim alias sunt illum sequi qui repellendus accusantium iusto
			corporis ut, molestias officia asperiores accusamus repellat maiores odit.
			Qui inventore, reprehenderit laborum consequuntur repudiandae facere,
			placeat ratione, dolore expedita nemo nobis sint rem. Sunt necessitatibus
			cupiditate aliquid in, amet porro accusamus asperiores, doloribus fugit
			pariatur aperiam excepturi deserunt neque consequuntur at! Sequi dolorem
			corporis suscipit eveniet a nam omnis debitis fuga harum corrupti,
			consequuntur earum doloribus aspernatur nesciunt facere molestiae quasi
			voluptatem odit asperiores nobis unde provident labore voluptate!
		</p>
		<BackToTopButton />
		<footer>
			<p>© 2024 My Site. All rights reserved.</p>
		</footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
